[Desktop Entry]
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
Comment[en_US]=
Comment=
Exec=/usr/bin/tilda
GenericName[en_US]=
GenericName=
Hidden=true
Icon=tilda
MimeType=
Name[en_US]=Tilda
Name=Tilda
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
