[Desktop Entry]
Icon=application-vnd.oasis.opendocument.spreadsheet
Name=BOM Recieved.ods
Type=Link
URL[$e]=file://$HOME/drive/08%20-%20Contract%20Work/NthDegree%20Technologies/RshTesting/PCB/BOM%20Recieved.ods
X-KDE-LastOpenedWith=LibreOffice
