[Desktop Entry]
Icon=application-vnd.oasis.opendocument.spreadsheet
Name=Tandy Total.ods
Type=Link
URL[$e]=file://$HOME/drive/Documents/Tandy%20Total.ods
X-KDE-LastOpenedWith=LibreOffice
